@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body{
    background: #3D3D3D;
    background: linear-gradient(180deg, rgba(61, 61, 61, 1) 8%, rgba(71, 63, 40, 1) 32%, rgba(82, 71, 37, 1) 42%, rgba(137, 114, 44, 1) 74%, rgba(189, 153, 48, 1) 100%);
    margin: 0;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body:has(#nav_switch:checked){
    background: #DEDEF0;
    background: linear-gradient(0deg,rgba(222, 222, 240, 1) 2%, rgba(173, 172, 247, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body:has(#nav_switch:checked) .wrapper{
    background: #D7D7D7;
}
body:has(#nav_switch:checked) #picture{
    content: url(../images/Rendeles_hatterV.png);
}

*{
    padding: 0;
}
.wrapper{
    width: 450px;
    background: #B1B0B0;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    margin: 10%;
}
.wrapper header{
    text-align: center;
    align-items: center;
    padding: 25px 30px 10px;
}
header .icons{
  display: ruby;
}
header .icons span{
    display: flex;
    height: 18px;
    width: 12px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    user-select: none;
    border-radius: 50%;
}
.icons span:last-child{
    margin-right: -10px;
}
header .icons span:hover{
    background: #f2f2f2;
}
header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
}
.calendar{
    padding: 20px;
}
.calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}
.calendar .days{
    margin-bottom: 20px;
}
.calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
}
.calendar .weeks li{
    font-weight: 500;
    cursor: default;
}
.calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}
.days li.inactive{
    color: #aaa;
}
.days li.active{
    color: #fff;
}
.days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.days li.active::before{
    background: #59a8b6;
}
.days li:not(.active):hover::before{
    background: #f2f2f2;
}
#date{
    padding-left: 10%;
    padding-right: 10%;
}
#prev{
    padding: 1%
}
#next{
    padding: 1%;
}
#left{
    width: 50%;
    z-index: 1;
}
#right{
    width: 50%;
}
#picture{
    width: 100%;
    height: 100%;
}
#elrendezes{
    display: flex;
}