body{
    background: #3D3D3D;
    background: linear-gradient(180deg, rgba(61, 61, 61, 1) 8%, rgba(71, 63, 40, 1) 32%, rgba(82, 71, 37, 1) 42%, rgba(137, 114, 44, 1) 74%, rgba(189, 153, 48, 1) 100%);
    margin: 0;
    height: auto;
}

body:has(#nav_switch:checked){
    background: #DEDEF0;
    background: linear-gradient(0deg,rgba(222, 222, 240, 1) 2%, rgba(173, 172, 247, 1) 100%);
}

body:has(#nav_switch:checked) #hatter{
    content: url(../images/Rendeles_hatterV.png);
}

#hatter{
    width: 40%;
    height: 40%;
    text-align: end;
}