body{
    background: #3D3D3D;
    background: linear-gradient(180deg, rgba(61, 61, 61, 1) 8%, rgba(71, 63, 40, 1) 32%, rgba(82, 71, 37, 1) 42%, rgba(137, 114, 44, 1) 74%, rgba(189, 153, 48, 1) 100%);
    color: white;
    
   background-repeat:no-repeat;
   width: 100%;
   margin: 0px;
    min-height: 100vh;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
html, body {
    height: 100%;
}

body.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*
.contact{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px 50px 50px 50px; 
    width: 80%;
    height: 1px;
    background-color: #a1a1a148 ;
    padding-bottom: 65%;
    align-items: center;

    
}*/

.contact{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px; 
    width: 80%;
    background-color: #a1a1a148;
    margin-bottom: 20%;
    padding: 4rem 0 4rem 0;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#cim{
    text-align: center;
    padding-top: 5%;
    font-size: clamp(0.4rem,1.6vw + 0.8rem,3rem);}
#szoveg{
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 4%;
    padding-bottom: 6%;
    font-size: 30px;
    font-size: clamp(0.3rem,1.2vw + 0.6rem,2rem);
    text-align: justify;
}

#fenti{
    margin-right: auto;
    margin-left: auto;
    width: 90%;



}
#veznevinput{
    background-color: #D9D9D9;
    font-size: 20px;
    height: 5vh;
    width: 20vw;
    border-radius:  150px;
    border: none;
    padding-left: 20px;

    margin-bottom: 2.5%;
}
#kernevinput{
    background-color: #D9D9D9;
    font-size: 20px;
    height: 5vh;
    width: 20vw;
    border-radius:  150px;
    border: none;
    padding-left: 20px;
    margin-bottom: 2.5%;
    float: right;
}


#lenti{
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}
#emailinput{
    background-color: #D9D9D9;
    font-size: 20px;
    height: 5vh;
    width: 20vw;
    border-radius: 150px;
    border: none;
    padding-left: 20px;

    margin-bottom: 2.5%;
}
#lakciminput{
    background-color: #D9D9D9;
    font-size: 20px;
    height: 5vh;
    width: 20vw;
    border-radius:  150px;
    border: none;
    padding-left: 20px;
    margin-bottom: 2.5%;
    float: right;
}


textarea {
    
    
    padding: 12px;
    box-sizing: border-box;
    
    
    
    
    resize: none;
    font-size: 20px;
    background-color: #D9D9D9;
    float: none;
    height: 50vh;
    width: 70%;
    border-radius:  12px;
    border: none;
    margin-right: auto;
    margin-left: auto;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2.75%;
  }
#uzKuldGomb{/*
    border-radius: 35px  35px 35px 35px;
    color: white;
    background-color: #8F8F8F;
    border: 1px rgba(137, 114, 44, 1) solid;
    padding: 10px;
    font-size: 13pt;
    width: 8%;

    float: right;
    margin-right: 3%;*/
    border-radius: 40px;
    color: white;
    background-color: #8F8F8F;
    border: 1px rgba(137, 114, 44, 1) solid;
    padding: 10px;
    font-size: clamp(0.2rem,0.8vw + 0.4rem,0.9rem);
    width: 8rem;
    
    align-self:flex-end;
    margin-right: 3%;
}
#uzKuldGomb:hover{
    border: #3D3D3D 3px solid;
    padding: 7px
}

footer{
    margin-top: 3%;
}