body{
    width: 100%;
    height: 100%;
}

.contact{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 80%;
    background-color: #a1a1a19d ;
    border: #a1a1a19d solid 1px;
}