body{
    background: #3D3D3D;
    background: linear-gradient(180deg, rgba(61, 61, 61, 1) 8%, rgba(71, 63, 40, 1) 32%, rgba(82, 71, 37, 1) 42%, rgba(137, 114, 44, 1) 74%, rgba(189, 153, 48, 1) 100%);
    color: white;
}

#contact{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px 50px 50px 50px; 
    width: 80%;
    height: 50%;
    background-color: #a1a1a148 ;
    padding-bottom: 80%;
    align-items: center;
}
#cim{
    text-align: center;
    padding-top: 5%;
    font-size: 50px;
}
#szoveg{
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 4%;
    padding-bottom: 6%;
    font-size: 30px;
}

#fenti{
    margin-right: auto;
    margin-left: auto;
    width: 90%;



}
#veznevinput{
    font-size: 20px;
    height: 75px;
    width: 36.5%;
    border-radius: 150px 150px 150px 150px;
    border: none;
    padding-left: 20px;

    margin-bottom: 2.5%;
}
#kernevinput{
    font-size: 20px;
    height: 75px;
    width: 36.5%;
    border-radius: 150px 150px 150px 150px;
    border: none;
    padding-left: 20px;
    margin-bottom: 2.5%;
    float: right;
}


#lenti{
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}
#emailinput{
    font-size: 20px;
    height: 75px;
    width: 36.5%;
    border-radius: 150px 150px 150px 150px;
    border: none;
    padding-left: 20px;

    margin-bottom: 2.5%;
}
#lakciminput{
    font-size: 20px;
    height: 75px;
    width: 36.5%;
    border-radius: 150px 150px 150px 150px;
    border: none;
    padding-left: 20px;
    margin-bottom: 2.5%;
    float: right;
}


#uzenetinput{
    font-size: 20px;
    float: none;
    height: 350px;
    width: 70%;
    border-radius: 50px  50px 50px 50px;
    border: none;
    margin-right: 12%;
    margin-left: 15%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2.75%;
}
#uzKuldGomb{
    border-radius: 35px  35px 35px 35px;
    color: white;
    background-color: #8F8F8F;
    border: 1px rgba(137, 114, 44, 1) solid;
    padding: 10px;
    font-size: 13pt;
    width: 8%;

float: right;


    margin: 20px;
}
#uzKuldGomb:hover{
    border: #3D3D3D 3px solid;
    padding: 7px
}

