body{
    background: #3D3D3D;
    background: linear-gradient(180deg, rgba(61, 61, 61, 1) 8%, rgba(71, 63, 40, 1) 32%, rgba(82, 71, 37, 1) 42%, rgba(137, 114, 44, 1) 74%, rgba(189, 153, 48, 1) 100%);
    color: white;
}

#contact{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2%;
    width: 80%;
    height: 80%;
    background-color: #a1a1a148 ;
    padding-bottom: 80%;
    
}
#cim{
    text-align: center;
    padding-top: 5%;
    font-size: 50px;
}
#szoveg{
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 4%;
    padding-bottom: 6%;
    font-size: 30px;
}