@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100..900&display=swap');

body{
    margin: 0px;
}

h1{
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/*navbar*/
nav{
    background-color: rgb(83, 83, 83);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    width: 100%;
}

#nav_account{
    width: 40px;
    height: auto;
}

#nav_feherlogo{
    width: 90px;
    height: auto;
    margin-right: 0;
    padding-right: 0;
}

#nav_baloldalt{
    display: flex;
    align-items: center;
    margin-right: auto;
}

#nav_jobboldal{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    gap: 2%;
    padding-right: 10px;
    justify-content: flex-end;
}

.nav_items{
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: large;
    white-space: nowrap;
    padding: 10px;
}

.nav_items:hover{
    background-color: #8b8b8b;
    border: #ADAAAA 3px solid;
    padding: 7px;
    border-radius: 8px 8px 8px 8px;
}

.nav_toggle {
    padding-left: 1%;
    position: relative;
    width: 72px;
    height: 36px;
}

.nav_toggle input {
    position: absolute;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.nav_toggle label {
    position: relative;
    display: block;
    width: 72px;
    height: 36px;
}

.nav_toggle label:before {
    content: "";
    width: 72px;
    height: 36px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: #ddd;
    transition: 0.2s ease;
    background-image: url("../images/hold_hatter.png");
    background-size: cover;
    background-position: center;
}

#nav_ikon {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 3px;
    left: 42px;
    transition: 0.25s ease;
    user-select: none;
}

.nav_toggle input:checked + label:before {
    background-color: transparent;
    background-image: url("../images/nap_hatter.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav_toggle input:checked + label #nav_ikon {
    transform: translateX(-36px);
    content: url("../images/nap.png");
}

#hamburger_container {
    display: none;
    position: relative;
    padding-left: 9%;
}

#nav_checkbox {
    display: none;
}

.nav_toggle1 {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .3s;
}

.bars {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 5px;
    transition-duration: .3s;
}

#nav_checkbox:checked + .nav_toggle1 .bars {
    margin-left: 13px;
}

#nav_checkbox:checked + .nav_toggle1 #bar2 {
    transform: rotate(135deg);
    margin-left: 0;
    transform-origin: center;
}

#nav_checkbox:checked + .nav_toggle1 #bar1 {
    transform: rotate(45deg);
    transform-origin: left center;
}

#nav_checkbox:checked + .nav_toggle1 #bar3 {
    transform: rotate(-45deg);
    transform-origin: left center;
}

#nav_myLinks {
    display: none;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font-size: large;
}

#nav_checkbox:checked ~ #nav_myLinks {
    display: flex;
}
#nav_myLinks {
    display: none;
    position: absolute;
    top: 100%;          
    right: 0;
    background: rgb(83, 83, 83);
    padding: 10px 0;
    text-align: center;
    border-radius: 0 0 8px 8px;
    min-width: 160px;
    flex-direction: column;
    z-index: 100;
    top: 146%; background: rgb(115 114 114); border-radius: 8px;
}

#nav_myLinks a {
    padding: 10px 16px;
    display: block;
    color: white;
    text-decoration: none;
}

@media screen and (max-width:768px){
    .nav_items {
        display: none;
    }
    .nav_toggle {
        padding-left: 8%;
    }
    #hamburger_container {
        display: block;
    }
}

/*footer*/
footer {
    background-color: rgb(158, 156, 156);
    padding: 20px 0;
    text-align: center;
}

.footer_card {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.footer_card a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    transition: 0.25s;
    cursor: pointer;
}

.footer_card img {
    width: 30px;
    height: 30px;
    pointer-events: none;
}

.social-link1:hover {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    animation: bounce_613 0.4s linear;
}

.social-link2:hover {
    background-color: #1f1f1f;
    animation: bounce_613 0.4s linear;
}

.social-link3:hover {
    background-color: #8B0000;
    animation: bounce_613 0.4s linear;
}

.social-link4:hover {
    background-color: #FFFFFF;
    animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
    40% { transform: scale(1.4); }
    60% { transform: scale(0.8); }
    80% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

#footer_dok {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.ittvagy{
    background-color: #8b8b8b;
    border-radius: 8px 8px 8px 8px;
}
body:has(#nav_switch:checked) .ittvagy{
    background-color: #cfcbcb;
}
body:has(#nav_switch:checked) .nav_items:hover{
    background-color: #cfcbcb;
    border: #ADAAAA 3px solid;
}