@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-optical-sizing: auto;
}
body{
    background: #3D3D3D;
    background: linear-gradient(180deg, rgba(61, 61, 61, 1) 8%, rgba(71, 63, 40, 1) 32%, rgba(82, 71, 37, 1) 42%, rgba(137, 114, 44, 1) 74%, rgba(189, 153, 48, 1) 100%);
}

body:has(#nav_switch:checked) {
    background: #DEDEF0;
    background: linear-gradient(0deg,rgba(222, 222, 240, 1) 2%, rgba(173, 172, 247, 1) 100%);
}

.main{
    height: auto;
}

.imgdiv{
    position: relative;
}

.textdiv{
    font-size: clamp( 0.45rem ,0.8vw + 0.2rem, 1.5rem);
    position: absolute;
    bottom: 55%;
    right: 34%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.imgdiv img{
    width: 100%;
    height: auto;
    filter: brightness(0.65) saturate(0.9) blur(0.5px);
    transition: filter 0.3s ease;
}

.imgdiv img:hover{
    filter: brightness(0.8) saturate(1) blur(0);
}

.main-container{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    background-color: #59595981;
    border-radius: 40px;
    margin-bottom: 5%;
}

.main-container h2{
    font-size: clamp(0.5rem ,0.8vw + 0.5rem ,1.5rem);
}

.parent {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 25px;
    }
    
    .div1 { 
        grid-area: 1 / 2 / 2 / 15;
        color: #CDCDCD;
        text-align: center;
        width: 75%;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
        background-color: gray;
    }
    .div2 { 
        grid-area: 2 / 2 / 3 / 8;
        color: #CDCDCD;
        text-align: center;
        float: left;
        width: 90%;
        height: auto;
        border-radius: 30px;
        background-color: gray;
        padding-top: 2%;
     }
    .div3 { 
        grid-area: 2 / 9 / 3 / 15;
        color: #CDCDCD;
        text-align: center;
        float: right;
        width: 90%;
        height: auto;
        border-radius: 30px;
        background-color: gray;
        padding-top: 2%;
     }
    .div4 { 
        grid-area: 3 / 3 / 6 / 7;
        width: 100%;
     }
    .div5 { grid-area: 6 / 3 / 9 / 7; }
    .div6 { grid-area: 9 / 3 / 12 / 7; }
    .div7 { grid-area: 3 / 8 / 5 / 10; }
    .div8 { grid-area: 3 / 11 / 5 / 13; }
    .div9 { grid-area: 3 / 14 / 5 / 16; }
    .div10 { grid-area: 5 / 8 / 7 / 10; }
    .div11 { grid-area: 5 / 11 / 7 / 13; }
    .div12 { grid-area: 5 / 14 / 7 / 16; }
    .div13 { grid-area: 7 / 8 / 9 / 10; }
    .div14 { grid-area: 7 / 11 / 9 / 13; }
    .div15 { grid-area: 7 / 14 / 9 / 16; }
    .div16 { grid-area: 9 / 11 / 11 / 13; }
    
    .rightimage{
        display: block;
        width: 125%;
        height: auto;
        border-radius: 35px;
    }
    
    .rightoverlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 125%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        opacity: 0;
        border-radius: 35px;
        transition: .5s ease;
        background-color: #85858580;
    }

    .container:hover .rightoverlay {
        opacity: 1;
      }
    
    .righttext{
        color: white;
        font-size: clamp(0.2rem, 0.35vw + 0.45rem, 0.9rem);
        width: 100%;
        position: absolute;
        top: 40%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .rightbuttons{
        margin-top: 55%;
        margin-bottom: 5%;
        margin-left: 20%;
        margin-right: auto;
        width: 65%;
        height: 20%;
        background-color:rgb(187, 187, 187);
        border: none;
        border-radius: 8px 8px 8px 8px;
        position: absolute;
    }

    .rightbuttontext{
      font-size: clamp(0.2rem, 0.4vw + 0.35rem, 1rem);
    }

    .container {
        position: relative;
        width: 75%;
      }
      
      .image {
        display: inline;
        width: 120%;
        height: auto;
        border-radius: 35px;
      }
      
      .overlay {
        position: absolute;
        top: 0;
        bottom: 2%;
        left: 0;
        right: 0;
        height: 98%;
        width: 120%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        opacity: 0;
        border-radius: 35px;
        transition: .5s ease;
        background-color: #85858580;
      }
      
      .container:hover .overlay {
        opacity: 1;
      }
      
      .text {
        color: white;
        font-size: clamp(0.1rem, 0.3vw + 0.7rem, 1.5rem);
        position: absolute;
        top: 40%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }

      .text h6{
        margin-top: 10%;
      }

      .buttons{
        margin-top: 50%;
        margin-bottom: 5%;
        margin-left: 32%;
        margin-right: auto;
        width: 35%;
        height: 15%;
        background-color:rgb(187, 187, 187);
        border: none;
        border-radius: 8px 8px 8px 8px;
        position: absolute;
        font-size: clamp(0.1rem, 0.2vw + 0.5rem, 1rem);
      }

    .glow {
      animation: glowPulse 1.5s infinite alternate;
      border-radius: 37px;
      width: 120%;
      height: 110%;
    }
    
    @keyframes glowPulse {
        0% {
            box-shadow:
              0 0 5px rgba(255,255,255,0.5),
              0 0 10px rgba(255,255,255,0.4);
          }
          100% {
            box-shadow:
              0 0 20px rgba(255,255,255,1),
              0 0 40px rgba(255,255,255,0.8);
          }
    }

    .glowtwo {
      animation: glowPulseTwo 1.5s infinite alternate;
      border-radius: 37px;
      width: 125%;
      height: 110%;
    }
    
    @keyframes glowPulseTwo {
        0% {
            box-shadow:
              0 0 5px rgba(255,255,255,0.5),
              0 0 10px rgba(255,255,255,0.4);
          }
          100% {
            box-shadow:
              0 0 20px rgba(255,255,255,1),
              0 0 40px rgba(255,255,255,0.8);
          }
    }
@media screen and (max-width: 845px){
  .rightimage{
    width: 140%;
    height: 110%;
    margin-left: -15%;
  }
  .rightoverlay{
    width: 140%;
    margin-left: -15%;
  }
  .rightbuttons{
    margin-left: 16%;
  }
  .buttons{
    width: 45%;
    margin-left: 29%;
  }
}

@media screen and (max-width:768px){
  .container {
    position: relative;
    width: 97%;
    height: auto;
    margin-left: -17%;
  }
  .buttons{
    width: 40%;
    height: 18%;
    border-radius: 6px 6px 6px 6px;
    margin-top: 55%;
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    }
    .div1 { grid-area: 1 / 3 / 2 / 14; }
    .div2 { grid-area: 2 / 2 / 3 / 7; }
    .div3 { grid-area: 2 / 9 / 3 / 15; }
    .div4 { grid-area: 3 / 3 / 6 / 6; }
    .div5 { grid-area: 6 / 3 / 9 / 6; }
    .div6 { grid-area: 9 / 3 / 12 / 6; }
    .div7 { grid-area: 3 / 9 / 5 / 11; }
    .div8 { grid-area: 5 / 9 / 7 / 11; }
    .div9 { grid-area: 7 / 9 / 9 / 11; }
    .div10 { grid-area: 9 / 9 / 11 / 11; }
    .div11 { grid-area: 11 / 9 / 13 / 11; }
    .div12 { grid-area: 3 / 13 / 5 / 15; }
    .div13 { grid-area: 5 / 13 / 7 / 15; }
    .div14 { grid-area: 7 / 13 / 9 / 15; }
    .div15 { grid-area: 9 / 13 / 11 / 15; }
    .div16 { grid-area: 11 / 13 / 13 / 15; }
  
  .rightbuttons{
    margin-left: 18%;
  }
  .image{
    width: 160%;
    margin-left: -5%;
  }
  .overlay{
    width: 160%;
    margin-left: -5%;
  }
  .div2{
    margin-left: 10%;
  }
  .rightimage{
    padding-bottom: 5%;
  }
}