body{
    background: #3D3D3D;
    background: linear-gradient(180deg, rgba(61, 61, 61, 1) 8%, rgba(71, 63, 40, 1) 32%, rgba(82, 71, 37, 1) 42%, rgba(137, 114, 44, 1) 74%, rgba(189, 153, 48, 1) 100%);
}
#switch:checked body{
    background: #DEDEF0;
    background: linear-gradient(0deg,rgba(222, 222, 240, 1) 2%, rgba(173, 172, 247, 1) 100%);
}
nav{
    background-color: rgb(83, 83, 83);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav_account{
    width: 40%;
    height: auto;
}
#feherlogo{
    width: 20%;
    height: auto;
}
#nav_jobboldal{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    gap: 2%;
    padding-right: 1%;
}
.nav_items{
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: large;
    white-space: nowrap;
}
#velemenyresz{
    display: flex;
    justify-content: space-between;
}
#nagyprojekt{
    display: flex;
    justify-content: space-between;
}
#munkatarsak{
    display: flex;
    justify-content: space-between;
}
.projektkep{
    width: 40%;
    height: auto;
}
.nav_items:hover{
    text-decoration: underline;
}
.toggle {
    position: relative;
    box-sizing: border-box;
  }
.toggle input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}
.toggle label {
    position: relative;
    display: flex;
    align-items: center;
    height: 36px;
    box-sizing: border-box;
}
.toggle label:before {
    content: "";
    width: 72px;
    height: 36px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    transition: 0.2s ease;
    box-sizing: border-box;
    box-shadow: 0 0 12px #0003, inset -72px 0 #fff;
}
.toggle label:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #444;
    border-radius: 20px;
    box-sizing: border-box;
    left: 0;
    top: 0;
    transform: translate(8px , 8px);
    transition: 0.2s ease;
}
.toggle input[type="checkbox"]:checked + label:after {
    background: #FFF;
    transform: translate(47px, 8px);
}
.toggle input[type="checkbox"]:checked + label:before {
    box-shadow: 0 0 12px #0003, inset 0 0 #fff;

}

#hold{
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}
  
#hold:hover { 
    transform: translate(40px , 1px);
    transition: 0.2s ease;
}

#nap{
    transition-timing-function: linear;
}

@keyframes myAnimation {
    0%   {left:0px; top:0px;}
    25%  {left:43px; top:4px;}
}