body{
    background: #3D3D3D;
    background: linear-gradient(180deg, rgba(61, 61, 61, 1) 8%, rgba(71, 63, 40, 1) 32%, rgba(82, 71, 37, 1) 42%, rgba(137, 114, 44, 1) 74%, rgba(189, 153, 48, 1) 100%);
    margin: 0;
}

body:has(#nav_switch:checked){
    background: #DEDEF0;
    background: linear-gradient(0deg,rgba(222, 222, 240, 1) 2%, rgba(173, 172, 247, 1) 100%);
}
body:has(#nav_switch:checked) nav{
    background-color: rgb(224, 224, 224);
}
body:has(#nav_switch:checked) .nav_items{
    color: black;
}
body:has(#nav_switch:checked) #nav_myLinks{
    background-color: rgb(224, 224, 224);
}
body:has(#nav_switch:checked) .nav_hamburgeritem{
    color: black;
}
body:has(#nav_switch:checked) footer{
    background-color: rgb(224, 224, 224);
}
body:has(#nav_switch:checked) .profilkep {
    background-color: rgb(195, 217, 242);
}
body:has(#nav_switch:checked) .velemeny {
    background-color: rgb(195, 217, 242);
}
body:has(#nav_switch:checked) .projektek {
    background-color: rgb(195, 217, 242);
}
body:has(#nav_switch:checked) .munkas {
    background-color: rgb(195, 217, 242);
}
body:has(#nav_switch:checked) .szovegszin {
    color: black;
}
body:has(#nav_switch:checked) .szovegszin1 {
    color: black;
}
body:has(#nav_switch:checked) .megnyitGomb{
    background: rgb(107, 134, 165);
}
body:has(#nav_switch:checked) #rendeles_gomb{
    background: rgb(195, 217, 242);
}
body:has(#nav_switch:checked) #nav_myLinks{
    background: rgb(255, 255, 255);
    color: black;
}
body:has(#nav_switch:checked) #nav_feherlogo{
    content: url("../images/Logo_fekete.png");
}
body:has(#nav_switch:checked) #nav_account{
    content: url("../images/account_fekete.png");
}
body:has(#nav_switch:checked) #fokep{
    content: url("../images/FoOldal_hatterkepV.png");
}
body:has(#nav_switch:checked) #rendeles_kep{
    content: url("../images/FoOldal_rendeleshatterV.png");
}
body:has(#nav_switch:checked) #rendeles{
    background: url("../images/FoOldal_rendeleshatterV.png");
    background-size: cover;
}
body:has(#nav_switch:checked) .munka_profilkep{
    content: url("../images/account_fekete.png");
}
.szovegszin{
    color: white;
}
.szovegszin1{
    color: white;
}
#elsohatterkep {
    width: 100%;
    height: 90vh;
}
#fokep {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#cim1, #cim2 {
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
}
#cim1 {
    top: 40%;
    font-size: 50px;
}

#cim2 {
    top: 50%;
    font-size: 20px;
}
.velemenyek {
    width: 30%;
    flex: 1 1 300px;
    max-width: 32%;
}
#velemenyresz{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 10%;
    gap: 20%;
    padding-left: 8%;
    padding-right: 8%;
}
#velemenyresz {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 5%;
    flex-wrap: wrap;
}
.profilkep {
    width: 30%;
    height: auto;
    padding: 4%;
    border-radius: 50%;
    background-color: rgb(94, 85, 67);
    margin: 0 auto;
    display: block;
    position: relative;
    top: 60px;

}
#velemeny1{
    width: 90%;
}
#velemeny2{
    width: 40%;
}
#velemeny2{
    width: 90%;
}
.velemeny {
    background-color: rgb(94, 85, 67);
    padding: 60px 20px 20px 20px;
    border-radius: 10px;
    height: 70%;
}

.megnyitGomb{
    display: none;
}
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.modal-tartalom {
    background: white;
    padding: 20px;
    width: 85%;
    max-width: 400px;
    border-radius: 10px;
    text-align: left;
}

.bezar {
    float: right;
    font-size: 28px;
    cursor: pointer;
}
.projektsz{
    padding-left: 3%;
    padding-right: 3%;
    color: white;
}
#nagyprojekt{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    gap: 5%;
}
#projekt{
    padding-left: 1%;
}
.projektkep{
    width: 90%;
    height: auto;
}
.projektek{
    background-color: rgb(94, 85, 67);
    padding-bottom: 3%;
}
#tars{
    padding-left: 1%;
}
#munkatarsak{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px; 
    padding: 6%;
}
.munkas{
    background-color: rgb(94, 85, 67);
    padding: 2%;
    border-radius: 50%;
    width: 150px; 
    height: 150px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.munka_profilkep{
    width: 90%;
    height: auto;
}

#rendeles {
    width: 100%;
    height: 400px;
    background: url("../images/FoOldal_rendeleshatterS.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#rendeles_gomb {
    padding: 15px 25px;
    font-size: 1.3rem;
    background-color: rgb(94, 85, 67);
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

@media screen and (max-width:1104px){
    #velemenyresz{
        gap: 10px;
        padding: 3%;
    }
    .velemeny{
        height: 77%;
    }
}
@media screen and (max-width:900px){
    .profilkep{
        width: 40%;
    }
}   
@media screen and (max-width:650px){
    .profilkep{
        top: 45px;
    }
}
@media screen and (max-width:576px){
    #velemenyresz{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 3%;
    }
    .velemenyek{
        width: 100%;
        max-width: 350px;
        margin: auto;
    }
    .velemeny{
        margin: auto;
        height: auto;
    }
    .profilkep{
        position: relative;
        top: 40px;
        left: 0;
        margin: 0 auto;
        display: block;
        width: 40%;
    }
    .megnyitGomb {
        display: block;
        margin: 10px auto 0 auto;
        padding: 10px 20px;
        background: rgb(139 122 87);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    #munkatarsak{
        justify-content: center; 
        gap: 20px; 
    }
    .munkas{ 
        width: 120px; 
        height: 120px; 
    }
    .szovegszin1{
        display: none;
    }
    #projekt2{
        display: none;
    }
    #cim1 {
        font-size: 2rem;
        top: 35%;
    }
    #cim2 {
        font-size: 1rem;
        top: 45%;
    }
    #rendeles {
        height: 300px;
    }
    #rendeles_gomb {
        font-size: 1.1rem;
        padding: 12px 20px;
    }
}