body{
    background: #3D3D3D;
    background: linear-gradient(180deg, rgba(61, 61, 61, 1) 8%, rgba(71, 63, 40, 1) 32%, rgba(82, 71, 37, 1) 42%, rgba(137, 114, 44, 1) 74%, rgba(189, 153, 48, 1) 100%);
}
nav{
    background-color: rgb(83, 83, 83);
    display: flex;
    justify-content: space-between;
}
#nav_account{
    width: 10%;
    height: auto;
}
#feherlogo{
    width: 20%;
    height: auto;
}
#nav_jobboldal{
    margin-top: auto;
    margin-bottom: auto;
}
.nav_items{
    margin: auto;
    text-align: center;
}
#velemenyresz{
    display: flex;
    justify-content: space-between;
}
#nagyprojekt{
    display: flex;
    justify-content: space-between;
}
#munkatarsak{
    display: flex;
    justify-content: space-between;
}
.projektkep{
    width: 40%;
    height: auto;
}