body{
    background: #3D3D3D;
    background: linear-gradient(180deg, rgba(61, 61, 61, 1) 8%, rgba(71, 63, 40, 1) 32%, rgba(82, 71, 37, 1) 42%, rgba(137, 114, 44, 1) 74%, rgba(189, 153, 48, 1) 100%);
}
body:has(#switch:checked) {
    background: #DEDEF0;
    background: linear-gradient(0deg,rgba(222, 222, 240, 1) 2%, rgba(173, 172, 247, 1) 100%);
}
nav{
    background-color: rgb(83, 83, 83);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    width: 100%;
}

#nav_account{
    width: 40px;
    height: auto;
}
#feherlogo{
    width: 90px;
    height: auto;
        margin-right: 0;
    padding-right: 0;
}
#nav_baloldalt{
    display: flex;
    align-items: center;
    margin-right: auto;
}

#nav_jobboldal{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 0;
    justify-content: flex-end;
}
.nav_items{
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: large;
    white-space: nowrap;
}
#velemenyresz{
    display: flex;
    justify-content: space-between;
}
#nagyprojekt{
    display: flex;
    justify-content: space-between;
}
#munkatarsak{
    display: flex;
    justify-content: space-between;
}
.projektkep{
    width: 40%;
    height: auto;
}
.nav_items:hover{
    text-decoration: underline;
}
.toggle {
    padding-left: 1.5%;
    position: relative;
    width: 72px;
    height: 36px;
}

.toggle input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.toggle label {
    position: relative;
    display: block;
    width: 72px;
    height: 36px;
}


.toggle label:before {
    content: "";
    width: 72px;
    height: 36px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: #ddd;
    transition: 0.2s ease;
    background-image: url("../images/hold_hatter.png");
    background-size: cover;
    background-position: center;
}
.toggle label:before body{
    background: #3D3D3D;
    background: linear-gradient(180deg, rgba(61, 61, 61, 1) 8%, rgba(71, 63, 40, 1) 32%, rgba(82, 71, 37, 1) 42%, rgba(137, 114, 44, 1) 74%, rgba(189, 153, 48, 1) 100%);
}

#ikon {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 3px;
    left: 42px;
    transition: 0.25s ease;
}


.toggle input:checked + label:before {
    background-color: transparent;
    background-image: url("../images/nap_hatter.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.toggle input:checked + label #ikon {
    transform: translateX(-36px);
    content: url("../images/nap.png");
}
