body{
    background: #3D3D3D;
    background: linear-gradient(180deg, rgba(61, 61, 61, 1) 8%, rgba(71, 63, 40, 1) 32%, rgba(82, 71, 37, 1) 42%, rgba(137, 114, 44, 1) 74%, rgba(189, 153, 48, 1) 100%);
    margin: 0;
}

body:has(#nav_switch:checked){
    background: #DEDEF0;
    background: linear-gradient(0deg,rgba(222, 222, 240, 1) 2%, rgba(173, 172, 247, 1) 100%);
}
body:has(#nav_switch:checked) nav{
    background-color: rgb(224, 224, 224);
}
body:has(#nav_switch:checked) .nav_items{
    color: black;
}
body:has(#nav_switch:checked) #nav_myLinks{
    background-color: rgb(224, 224, 224);
}
body:has(#nav_switch:checked) .nav_hamburgeritem{
    color: black;
}
body:has(#nav_switch:checked) footer{
    background-color: rgb(224, 224, 224);
}
body:has(#nav_switch:checked) .profilkep {
    background-color: rgb(195, 217, 242);
}
body:has(#nav_switch:checked) .velemeny {
    background-color: rgb(195, 217, 242);
}
body:has(#nav_switch:checked) .projektek {
    background-color: rgb(195, 217, 242);
}
body:has(#nav_switch:checked) .munkas {
    background-color: rgb(195, 217, 242);
}
body:has(#nav_switch:checked) .szovegszin {
    color: black;
}
body:has(#switch:checked) #nav_myLinks{
    background: rgb(255, 255, 255);
    color: black;
}
body:has(#switch:checked) .profilkep{
    background-image: url("../images/account_fekete.png");
}
body:has(#switch:checked) #nav_feherlogo{
    background-image: url("../images/Logo_fekete.png");
}
body:has(#switch:checked) #fokep{
    background-image: url("../images/FoOldal_hatterkepV.png");
}
.szovegszin{
    color: white;
}
#fokep{
    width: 100%;
    height: 90vh;
}
#cim1{
    color: white;
    text-align: center;
    position: absolute;
    margin: auto;
    padding-left: 45%;
    padding-top: 320px;
}
#cim2{
    color: white;
    text-align: center;
    position: absolute;
    margin: auto;
    padding-left: 43%;
    padding-top: 390px;
}
#velemenyresz{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 10%;
    gap: 20%;
    padding-left: 8%;
    padding-right: 8%;
}
.profilkep{
    width: 8%;
    height: auto;
    background-color: rgb(94, 85, 67);
    border-radius: 45%;
    padding: 1%;
    position: absolute;
    margin-left: -5%;
    margin-top: -5%;
}
.velemeny{
    background-color: rgb(94, 85, 67);
    padding-bottom: 3%;
    padding-top: 23%;
}
#nagyprojekt{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    gap: 5%;
}
#projekt{
    padding-left: 1%;
}
.projektkep{
    width: 60%;
    height: auto;
}
.projektek{
    background-color: rgb(94, 85, 67);
    padding-bottom: 3%;
}
#tars{
    padding-left: 1%;
}
#munkatarsak{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 8.5%;
}
.munkas{
    background-color: rgb(94, 85, 67);
    padding: 2%;
    border-radius: 50%;
}
#rendeles_gomb{
    position: absolute;
    margin-left: 45%;
    margin-top: 15%;
    padding: 2%;
    border-radius: 25%;
    background-color: rgb(94, 85, 67);
}
#rendeles_kep{
    width: 100%;
}