body{
    background: #3D3D3D;
    background: linear-gradient(180deg, rgba(61, 61, 61, 1) 8%, rgba(71, 63, 40, 1) 32%, rgba(82, 71, 37, 1) 42%, rgba(137, 114, 44, 1) 74%, rgba(189, 153, 48, 1) 100%);
    color: white;
    
   background-repeat:no-repeat;
   width: 100%;
   margin: 0px;
}
body{
    min-height: 100vh;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
html, body {
    height: 100%;
}

body.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*
#adatok{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px 50px 50px 50px; 
    width: 80%;
    height: 150px;
    background-color: #a1a1a148 ;
    padding-bottom: 65%;
    align-items: center;
    
    margin-bottom: 10%;
}
*/
/*
#adatok{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px; 
    width: 80%;
    background-color: #a1a1a148;
    height:60em;
    margin-bottom: 20%;
 
}*/
#adatok{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px; 
    width: 80%;
    background-color: #a1a1a148;
    
    margin-bottom: 20%;
 


    padding: 4rem 0 4rem 0;   
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#cim{
    text-align: center;
    font-size: clamp(0.5rem,1.2vw + 0.8rem,5rem);
    padding: 20px;
}

.inputmezo{
    background-color: #D9D9D9;
    width: 36.5%;
    border-radius: 150px 150px 150px 150px;
    border: none;
    padding-left: 20px;
    margin-left: 10%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;

}
#inputok{
    padding-top: 5%;
}
.inputparok{
margin-bottom: 3%;
}
.gomb{
    border-radius: 40px  40px 40px 40px;
    color: white;
    background-color: #8F8F8F;
    border: 1px rgba(137, 114, 44, 1) solid;
    padding: 1%;
    font-size: clamp(0.2rem,0.8vw + 0.4rem,0.9rem);
    width: 8rem;
    
    float: right;

    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-right: 4%;
   
}
.gomb:hover{
    border: #3D3D3D 3px solid;
    padding: 0.75%
}



#alulsogombok{
    margin-top: 10%;
}
#fioktorles{
    float: left;
    margin: 0px;
    margin-left: 3%;
    background-color: red;
    width: 7rem;
    
}
#valtment{
    float: right;
    margin: 0px;
    margin-left: 4%;
    margin-right: 3%;
    width: 7rem;
}
#kijel{
    float: right;
    margin: 0px;
    color: rgb(219, 43, 43);
    width: 7rem;
}










@media (max-width: 1119px){
    
    
}

@media (max-width: 900px){
    .inputmezo{
      
        font-size:small;
    }
    
}
@media screen and (max-width:768px){
   
    #footer_dok{
        
        margin-top: 20%;
    }
}

/*
@media screen and (max-width:589px) {
    .gomb{
        border-radius: 40px  40px 40px 40px;
        color: white;
        background-color: #8F8F8F;
        border: 1px rgba(137, 114, 44, 1) solid;
        padding: 1%;
        font-size: clamp(0.3rem,0.8vw + 0.4rem,0.9rem);
        width: 6rem;
    
        float: right;
    
        margin-top: 1.5%;
        margin-bottom: 1.5%;
        margin-right: 4%;
       
    }
    .gomb:hover{
        border: #3D3D3D 3px solid;
        padding: 0.75%
    }   
    #fioktorles, #valtment, #kijel{
        width: 20%;
    }
}*/
@media screen and (max-width:512px){
    
}