body{
    background: #3D3D3D;
    background: linear-gradient(180deg, rgba(61, 61, 61, 1) 8%, rgba(71, 63, 40, 1) 32%, rgba(82, 71, 37, 1) 42%, rgba(137, 114, 44, 1) 74%, rgba(189, 153, 48, 1) 100%);
    color: white;
    height: 2000%;
   background-repeat:no-repeat;
   width: 100%;
   margin: 0px;
}
#adatok{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px 50px 50px 50px; 
    width: 80%;
    height: 150px;
    background-color: #a1a1a148 ;
    padding-bottom: 65%;
    align-items: center;
    
    margin-bottom: 10%;
}
.inputmezo{
    background-color: #D9D9D9;
    font-size: 20px;
    height: 55px;
    width: 36.5%;
    border-radius: 150px 150px 150px 150px;
    border: none;
    padding-left: 20px;

    margin-left: 10%;
    margin-top: 3%;
    margin-right: 10%;
}
#inputok{
    padding-top: 5%;
}
.inputparok{
margin-bottom: 3%;
}
.gomb{
    border-radius: 40px  40px 40px 40px;
    color: white;
    background-color: #8F8F8F;
    border: 1px rgba(137, 114, 44, 1) solid;
    padding: 1%;
    font-size: clamp(0.2rem,0.8vw + 0.4rem,0.9rem);
    width: 8rem;

    float: right;

    margin-top: 3%;
    margin-right: 4%;
}
.gomb:hover{
    border: #3D3D3D 3px solid;
    padding: 0.75%
}
#nevgomb{
    
}





#alulsogombok{
    margin-top: 10%;
}
#fioktorles{
    float: left;
    margin: 0px;
    margin-left: 3%;
    background-color: red;
}
#valtment{
    float: right;
    margin: 0px;
    margin-left: 4%;
    margin-right: 3%;
}
#kijel{
    float: right;
    margin: 0px;
    color: rgb(219, 43, 43);
}










@media (max-width: 1119px){
    
    .inputmezo{
        height: 45px;
    }
}

@media (max-width: 900px){
    .inputmezo{
        height: 40px;
        font-size:medium;
    }
    
}
