body{
    background: #3D3D3D;
    background: linear-gradient(180deg, rgba(61, 61, 61, 1) 8%, rgba(71, 63, 40, 1) 32%, rgba(82, 71, 37, 1) 42%, rgba(137, 114, 44, 1) 74%, rgba(189, 153, 48, 1) 100%);
    color: white;
    
   background-repeat:no-repeat;
   width: 100%;
   margin: 0px;
    min-height: 100vh;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
html, body {
    height: 100%;
}

body.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


body:has(#nav_switch:checked){
    
   
    background: #DEDEF0;
    background: linear-gradient(0deg,rgba(222, 222, 240, 1) 2%, rgba(173, 172, 247, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body:has(#nav_switch:checked) nav{
    background-color: rgb(224, 224, 224);
}
body:has(#nav_switch:checked) .nav_items{
    color: black;
}
body:has(#nav_switch:checked) #nav_myLinks{
    background-color: rgb(224, 224, 224);
}
body:has(#nav_switch:checked) .nav_hamburgeritem{
    color: black;
}
body:has(#nav_switch:checked) footer{
    background-color: rgb(224, 224, 224);
}
body:has(#nav_switch:checked) .profilkep {
    background-color: rgb(195, 217, 242);
}
body:has(#nav_switch:checked) .velemeny {
    background-color: rgb(195, 217, 242);
}
body:has(#nav_switch:checked) .projektek {
    background-color: rgb(195, 217, 242);
}
body:has(#nav_switch:checked) .munkas {
    background-color: rgb(195, 217, 242);
}
body:has(#nav_switch:checked) .szovegszin {
    color: black;
}
body:has(#nav_switch:checked) .szovegszin1 {
    color: black;
}
body:has(#nav_switch:checked) #nav_myLinks{
    background: rgb(255, 255, 255);
    color: black;
}
body:has(#nav_switch:checked) #nav_feherlogo{
    content: url("../images/Logo_fekete.png");
}
body:has(#nav_switch:checked) #focimkep{
    content: url("../images/Logo_fekete.png");
}
body:has(#nav_switch:checked) #nav_account{
    content: url("../images/account_fekete.png");
}
body:has(#nav_switch:checked) .gomb{
    background-color: #cfcbcb;
    border: 1px rgba(173, 172, 247, 1) solid;
}
body:has(#nav_switch:checked) .gomb:hover{
    border: #a0a0a0 3px solid;
    padding: 0.75%
}

body:has(#nav_switch:checked) #fioktorles{
    background-color: red;
}
body:has(#nav_switch:checked) #kijel{
    background-color: #adacac;
}
body:has(#nav_switch:checked) #kijel{
    background-color: #adacac;
}





/*
#adatok{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px 50px 50px 50px; 
    width: 80%;
    height: 150px;
    background-color: #a1a1a148 ;
    padding-bottom: 65%;
    align-items: center;
    
    margin-bottom: 10%;
}
*/
/*
#adatok{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px; 
    width: 80%;
    background-color: #a1a1a148;
    height:60em;
    margin-bottom: 20%;
 
}*/
.ittvagy{
    background-color: #8b8b8b;
    border-radius: 8px 8px 8px 8px;
    padding: 10px;
}
#focimkep{
    height: 30%;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}

#adatok{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px; 
    width: 80%;
    background-color: #a1a1a148;
    
    margin-bottom: 20%;
 


    padding: 4rem 0 4rem 0;   
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#cim{
    text-align: center;
    font-size: clamp(0.5rem,1.2vw + 0.8rem,5rem);
    padding: 20px;
}

.inputmezo{
    background-color: #D9D9D9;
    width: 36.5%;
    border-radius: 150px 150px 150px 150px;
    border: none;
    padding-left: 20px;
    margin-left: 10%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;

}
#inputok{
    padding-top: 5%;
}
.inputparok{
margin-bottom: 3%;
}
.gomb{
    border-radius: 40px  40px 40px 40px;
    color: white;
    background-color: #8F8F8F;
    border: 1px rgba(137, 114, 44, 1) solid;
    padding: 1%;
    font-size: clamp(0.2rem,0.8vw + 0.4rem,0.9rem);
    width: 8rem;
    
    float: right;

    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-right: 4%;
   
}
.gomb:hover{
    border: #3D3D3D 3px solid;
    padding: 0.75%
}



#alulsogombok{
    margin-top: 10%;
   /* display: flex;
    gap: 5%;
    flex-direction: row;*/
}
#fioktorles{
    float: left;
    margin: 0px;
    margin-left: 3%;
    background-color: red;
    width: 7rem;
    
}
#valtment{
    float: right;
    margin: 0px;
    margin-left: 4%;
    margin-right: 3%;
    width: 7rem;
}
#kijel{
    
    float: right;
    margin: 0px;
    color: rgb(219, 43, 43);
    width: 7rem;
}










@media (max-width: 1119px){
    #focimkep{
        height: 35%;
        width: 35%;
        
    }
    
}

@media (max-width: 900px){
    .inputmezo{
      
        font-size:small;
    }
    
}
@media screen and (max-width:768px){
    #focimkep{
        height: 40%;
        width: 40%;
        
    }
    #adatok{
        padding: 0.5rem 0 2rem 0;
    }
    #footer_dok{
        
        margin-top: 20%;
    }
}

/*
@media screen and (max-width:589px) {
    .gomb{
        border-radius: 40px  40px 40px 40px;
        color: white;
        background-color: #8F8F8F;
        border: 1px rgba(137, 114, 44, 1) solid;
        padding: 1%;
        font-size: clamp(0.3rem,0.8vw + 0.4rem,0.9rem);
        width: 6rem;
    
        float: right;
    
        margin-top: 1.5%;
        margin-bottom: 1.5%;
        margin-right: 4%;
       
    }
    .gomb:hover{
        border: #3D3D3D 3px solid;
        padding: 0.75%
    }   
    #fioktorles, #valtment, #kijel{
        width: 20%;
    }
}*/
@media screen and (max-width:512px){
    /*#alulsogombok{
        display: flex;
        flex-direction: column-reverse;
        
    }*/
    .inputmezo{
      
        font-size:x-small;
    }
    #focimkep{
        height: 45%;
        width: 45%;
        
    }

    #valtment{
        float: right;
        
        
        margin-right: 6%;
        width: 7rem;
    }
    #kijel{
        
        float: right;
       margin-top: 3%;
        margin-right: 6%;
        width: 7rem;
    }
}
@media screen and (max-width:467px){
    #focimkep{
        height: 47%;
        width: 47%;
        
    }
    .gomb{
        width: 30%;
    }
}