body{
    background: #3D3D3D;
    background: linear-gradient(180deg, rgba(61, 61, 61, 1) 8%, rgba(71, 63, 40, 1) 32%, rgba(82, 71, 37, 1) 42%, rgba(137, 114, 44, 1) 74%, rgba(189, 153, 48, 1) 100%);
    color: white;
    
   background-repeat:no-repeat;
}
.adatok{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px 50px 50px 50px; 
    width: 80%;
    height: 50%;
    background-color: #a1a1a148 ;
    padding-bottom: 65%;
    align-items: center;
    height:     5px;
    
}
#input{
    background-color: #D9D9D9;
    font-size: 20px;
    height: 55px;
    width: 36.5%;
    border-radius: 150px 150px 150px 150px;
    border: none;
    padding-left: 20px;

    margin-left: 10%;
    margin-top: 3%;
    margin-right: 50%;
}
#input{
    margin-top: 5%;
}